articles/n8n-bedrock-prd-implementation-agent/workflows/prd-implementation-agent.workflow.json
{
  "updatedAt": "2026-05-03T12:03:10.991Z",
  "createdAt": "2026-05-02T22:27:43.519Z",
  "id": "prdDesignCodexCloudAgent01",
  "name": "prd-design-implementation-agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "PRD / DesignDoc 実装依頼",
        "formDescription": "PRDとDesignDocを生成し、GitHub PRを作成してBedrock Lambda実装エージェントへ実装依頼します。",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Task Title",
              "fieldName": "task_title",
              "placeholder": "例: タイムライン編集機能を追加する",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Repository",
              "fieldName": "target_repository",
              "placeholder": "owner/repo",
              "defaultValue": "okamyuji/prd-design-implementation-agent",
              "requiredField": true
            },
            {
              "fieldLabel": "Base Branch",
              "fieldName": "base_branch",
              "defaultValue": "main",
              "requiredField": true
            },
            {
              "fieldLabel": "Implementation Instruction",
              "fieldType": "textarea",
              "fieldName": "implementation_instruction",
              "placeholder": "作りたい機能、制約、既存仕様、期待するユーザー体験を具体的に書いてください。",
              "requiredField": true
            },
            {
              "fieldLabel": "Additional Constraints",
              "fieldType": "textarea",
              "fieldName": "additional_constraints",
              "placeholder": "任意。セキュリティ、互換性、ライブラリ制約、リリース条件など。"
            },
            {
              "fieldLabel": "Shared Secret",
              "fieldType": "password",
              "requiredField": true,
              "placeholder": "管理者から共有された Shared Secret を入力してください"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Implementation Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        272,
        -992
      ],
      "webhookId": "__REPLACE_WITH_YOUR_WEBHOOK_ID__"
    },
    {
      "parameters": {
        "jsCode": "\nfunction slugify(value) {\n  return String(value || \"task\")\n    .normalize(\"NFKD\")\n    .replace(/[^\\w\\s-]/g, \"\")\n    .trim()\n    .replace(/\\s+/g, \"-\")\n    .replace(/_+/g, \"-\")\n    .toLowerCase()\n    .slice(0, 48) || \"task\";\n}\n\nconst input = $json;\nfunction pick(...keys) {\n  for (const key of keys) {\n    if (input[key] != null && input[key] !== \"\") return input[key];\n  }\n  return \"\";\n}\n\nconst taskTitle = pick(\"task_title\", \"Task Title\");\nif (!taskTitle) {\n  throw new Error(\"Task Title は必須です\");\n}\nconst targetRepository = pick(\"target_repository\", \"Target Repository\") || \"okamyuji/prd-design-implementation-agent\";\nconst [owner, repo] = targetRepository.split(\"/\");\nif (!owner || !repo) {\n  throw new Error(\"target_repository は owner/repo 形式で指定してください\");\n}\n\nconst baseBranch = pick(\"base_branch\", \"Base Branch\") || \"main\";\nconst constraints = pick(\"additional_constraints\", \"Additional Constraints\");\nconst instruction = pick(\"implementation_instruction\", \"Implementation Instruction\");\nif (!instruction) {\n  throw new Error(\"Implementation Instruction は必須です\");\n}\n\nconst now = new Date();\nconst stamp = now.toISOString().replace(/[-:]/g, \"\").replace(/\\..+/, \"Z\");\nconst slug = slugify(taskTitle);\nconst branchName = \"agent/\" + stamp + \"-\" + slug;\nconst docsPath = \"docs/design-docs/\" + stamp + \"-\" + slug + \".md\";\n\nconst PRD_TEMPLATE_URL = \"https://github.com/okamyuji/prd-design-implementation-agent/blob/main/templates/prd-template-ja.md\";\nconst DESIGN_DOC_TEMPLATE_URL = \"https://github.com/okamyuji/prd-design-implementation-agent/blob/main/templates/design-doc-template-ja.md\";\n\nconst userInput = {\n  task_title: taskTitle,\n  target_repository: targetRepository,\n  base_branch: baseBranch,\n  implementation_instruction: instruction,\n  additional_constraints: constraints || null,\n  prd_template_url: PRD_TEMPLATE_URL,\n  design_doc_template_url: DESIGN_DOC_TEMPLATE_URL,\n};\n\nconst systemRules = [\n  \"あなたはプロダクトマネージャー、ソフトウェアアーキテクト、QAリードを兼ねる日本語の実装仕様作成者です。\",\n  \"下記 user_input(JSON) からPRDとDesignDocを作成してください。\",\n  \"\",\n  \"必須条件:\",\n  \"- 日本語で書く\",\n  \"- 詳細かつMECEに整理する\",\n  \"- DesignDocにはロジックツリーを入れる\",\n  \"- 実装者が機械的に実装できる粒度まで分解する\",\n  \"- TDDで進める計画を書く\",\n  \"- カバレッジ80%以上を品質ゲートに入れる\",\n  \"- 正常系、異常系、境界値、エッジケース、E2Eを具体化する\",\n  \"- Formatter、Linter、静的解析、テスト、ビルドをすべてPassさせる条件を書く\",\n  \"- 「テストを通すためだけ」のテストではなく、本質的なテスト観点を書く\",\n  \"- PR本文には実装条件と完了基準を、レビュー担当の人間が読みやすい形で記載する\",\n  \"\",\n  \"テンプレートは user_input.prd_template_url および user_input.design_doc_template_url のGitHub上Markdownを参照すること。\",\n  \"\",\n  \"出力スキーマ(必ず全フィールド埋める。Markdownフェンスやコメントは禁止):\",\n  \"{\",\n  '  \"prd_markdown\": \"PRD本文Markdown\",',\n  '  \"design_doc_markdown\": \"DesignDoc本文Markdown\",',\n  '  \"pr_title\": \"GitHub PRタイトル(80文字以内)\",',\n  '  \"pr_body\": \"GitHub PR本文Markdown\"',\n  \"}\",\n].join(\"\\n\");\n\nconst prompt = systemRules + \"\\n\\nuser_input:\\n\" + JSON.stringify(userInput, null, 2);\n\nreturn [{\n  json: {\n    owner,\n    repo,\n    target_repository: targetRepository,\n    base_branch: baseBranch,\n    branch_name: branchName,\n    docs_path: docsPath,\n    task_title: taskTitle,\n    implementation_instruction: instruction,\n    additional_constraints: constraints,\n    requested_at: now.toISOString(),\n    prompt,\n  },\n}];\n"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -992
      ]
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "You are a strict JSON generator. Output exactly one JSON object that matches the requested schema. Never wrap output in Markdown code fences. Never add prose before or after the JSON. Always return ALL required keys with non-empty string values.",
          "maxOutputTokens": 32768,
          "temperature": 0.2,
          "thinkingBudget": 0
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Generate PRD and DesignDoc",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        656,
        -992
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your googlePalmApi credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction firstString(value) {\n  if (typeof value === \"string\") return value;\n  if (Array.isArray(value)) return value.map(firstString).find(Boolean) || \"\";\n  if (value && typeof value === \"object\") {\n    for (const key of [\"text\", \"content\", \"parts\", \"output\", \"response\", \"result\", \"message\", \"data\"]) {\n      if (value[key] === undefined) continue;\n      const found = firstString(value[key]);\n      if (found) return found;\n    }\n  }\n  return \"\";\n}\n\nfunction parseJson(raw) {\n  if (raw && typeof raw === \"object\" && raw.prd_markdown) return raw;\n  const text = firstString(raw) || JSON.stringify(raw);\n  const cleaned = text\n    .replace(new RegExp(\"^\\\\x60{3}(?:json)?\\\\s*\", \"i\"), \"\")\n    .replace(new RegExp(\"\\\\s*\\\\x60{3}$\", \"i\"), \"\")\n    .trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (error) {\n    const start = cleaned.indexOf(\"{\");\n    const end = cleaned.lastIndexOf(\"}\");\n    if (start >= 0 && end > start) {\n      try { return JSON.parse(cleaned.slice(start, end + 1)); } catch (_) {}\n    }\n    throw new Error(\n      \"Geminiの出力をJSONとして解釈できませんでした。出力が途中で打ち切られている可能性があります(maxOutputTokens不足)。先頭200文字: \"\n      + cleaned.slice(0, 200)\n    );\n  }\n}\n\nconst base = $(\"Prepare Request\").first().json;\nconst generated = parseJson($json);\n\nconst required = [\"prd_markdown\", \"design_doc_markdown\", \"pr_title\", \"pr_body\"];\nfor (const key of required) {\n  if (!generated[key]) throw new Error(\"Gemini output missing \" + key);\n}\n\n// セキュリティガード: 長さ制限(プロンプト注入とトークン消費の上限を機械的に確保)\nconst MAX_LEN = {\n  prd_markdown: 20000,\n  design_doc_markdown: 30000,\n  pr_title: 200,\n  pr_body: 5000\n};\nfor (const key of required) {\n  const max = MAX_LEN[key];\n  if (typeof generated[key] === \"string\" && generated[key].length > max) {\n    throw new Error(\"Gemini output \" + key + \" exceeds \" + max + \" chars (got \" + generated[key].length + \")\");\n  }\n}\n\n// セキュリティガード: 漏えいパターン・XSSベクトル・秘匿情報パターンの検出\nconst FORBIDDEN_PATTERNS = [\n  { name: \"script tag\", re: /<script[\\s>]/i },\n  { name: \"javascript: scheme\", re: /javascript:/i },\n  { name: \"data:text/html\", re: /data:text\\/html/i },\n  { name: \"github PAT\", re: /\\bghp_[A-Za-z0-9]{20,}/ },\n  { name: \"github fine-grained PAT\", re: /\\bgithub_pat_[A-Za-z0-9_]{20,}/ },\n  { name: \"PEM private key\", re: /-----BEGIN [A-Z ]*PRIVATE KEY-----/ },\n  { name: \"AWS access key\", re: /\\b(AKIA|ASIA)[0-9A-Z]{16}\\b/ }\n];\nfor (const key of required) {\n  if (typeof generated[key] !== \"string\") continue;\n  for (const { name, re } of FORBIDDEN_PATTERNS) {\n    if (re.test(generated[key])) {\n      throw new Error(\"Gemini output \" + key + \" contains forbidden pattern: \" + name);\n    }\n  }\n}\n\n// 制御文字の除去(改行とタブは保持)\nfor (const key of required) {\n  if (typeof generated[key] === \"string\") {\n    generated[key] = generated[key].replace(/[\\x00-\\x08\\x0b\\x0c\\x0e-\\x1f\\x7f]/g, \"\");\n  }\n}\n\nconst prdDocTitle = \"PRD - \" + base.task_title + \" - \" + base.requested_at.slice(0, 10);\nconst designDocTitle = \"DesignDoc - \" + base.task_title + \" - \" + base.requested_at.slice(0, 10);\nconst designDocWithLinks = [\n  generated.design_doc_markdown,\n  \"\",\n  \"---\",\n  \"\",\n  \"## Automation Metadata\",\n  \"\",\n  \"- Requested at: \" + base.requested_at,\n  \"- Target repository: \" + base.target_repository,\n  \"- Base branch: \" + base.base_branch,\n  \"- Working branch: \" + base.branch_name,\n  \"\",\n].join(\"\\n\");\n\nreturn [{\n  json: {\n    ...base,\n    ...generated,\n    prd_doc_title: prdDocTitle,\n    design_doc_title: designDocTitle,\n    design_doc_markdown: designDocWithLinks,\n    design_doc_base64: Buffer.from(designDocWithLinks, \"utf8\").toString(\"base64\"),\n    commit_message: \"Add DesignDoc for \" + base.task_title,\n  },\n}];\n"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Parse Gemini Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $(\"Build PRD Upload Body\").first().json;\nconst upload = $json;\nconst id = upload.id || upload.fileId;\nreturn [{\n  json: {\n    ...base,\n    prd_doc_id: id,\n    prd_doc_url: \"https://docs.google.com/document/d/\" + id + \"/edit\",\n  },\n}];\n"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Attach PRD Doc URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -640
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $(\"Attach PRD Doc URL\").first().json;\nconst upload = $json;\nconst id = upload.id || upload.fileId;\nconst designDocUrl = \"https://docs.google.com/document/d/\" + id + \"/edit\";\n// design_doc_markdown と pr_body には Google Doc URL を残さない\n// (公開リポジトリの履歴に Doc ID が残るのを避けるため)\nconst designDocMarkdown = base.design_doc_markdown;\nreturn [{\n  json: {\n    ...base,\n    design_doc_id: id,\n    design_doc_url: designDocUrl,\n    design_doc_markdown: designDocMarkdown,\n    design_doc_base64: Buffer.from(designDocMarkdown, \"utf8\").toString(\"base64\"),\n    pr_body: [\n      base.pr_body,\n      \"\",\n      \"---\",\n      \"\",\n      \"## Generated Docs\",\n      \"\",\n      \"- DesignDoc markdown path in this PR: \" + base.docs_path,\n      \"\",\n    ].join(\"\\n\"),\n  },\n}];"
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Attach DesignDoc URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -640
      ]
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/${$json.owner}/${$json.repo}/git/ref/heads/${$json.base_branch}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Get Base Branch Ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        -640
      ],
      "credentials": {
        "githubApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your githubApi credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $(\"Attach DesignDoc URL\").first().json;\nconst sha = $json.object?.sha;\nif (!sha) throw new Error(\"Could not read base branch SHA from GitHub response\");\nreturn [{ json: { ...base, base_sha: sha } }];\n"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Prepare GitHub Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.github.com/repos/${$json.owner}/${$json.repo}/git/refs` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ref: `refs/heads/${$json.branch_name}`, sha: $json.base_sha }) }}",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Create GitHub Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        -240
      ],
      "credentials": {
        "githubApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your githubApi credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://api.github.com/repos/${$('Prepare GitHub Payload').first().json.owner}/${$('Prepare GitHub Payload').first().json.repo}/contents/${$('Prepare GitHub Payload').first().json.docs_path}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Prepare GitHub Payload').first().json.commit_message, content: $('Prepare GitHub Payload').first().json.design_doc_base64, branch: $('Prepare GitHub Payload').first().json.branch_name }) }}",
        "options": {}
      },
      "id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "Commit DesignDoc Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        -240
      ],
      "credentials": {
        "githubApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your githubApi credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.github.com/repos/${$('Prepare GitHub Payload').first().json.owner}/${$('Prepare GitHub Payload').first().json.repo}/pulls` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Prepare GitHub Payload').first().json.pr_title, body: $('Prepare GitHub Payload').first().json.pr_body, head: $('Prepare GitHub Payload').first().json.branch_name, base: $('Prepare GitHub Payload').first().json.base_branch, draft: false }) }}",
        "options": {}
      },
      "id": "dddddddd-dddd-4ddd-8ddd-dddddddddddd",
      "name": "Create GitHub PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        -240
      ],
      "credentials": {
        "githubApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your githubApi credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst prep = $(\"Prepare GitHub Payload\").first().json;\nconst pr = $(\"Create GitHub PR\").first().json;\nconst bedrock = $(\"Parse Bedrock Result\").first().json;\nreturn [{\n  json: {\n    status: \"implementation_committed_by_bedrock\",\n    task_title: prep.task_title,\n    target_repository: prep.target_repository,\n    branch_name: prep.branch_name,\n    design_doc_path: prep.docs_path,\n    prd_doc_url: prep.prd_doc_url,\n    design_doc_url: prep.design_doc_url,\n    pull_request_url: pr.html_url,\n    pull_request_number: pr.number,\n    bedrock_model: bedrock.model_id,\n    files_changed: bedrock.files_changed,\n    next_step: \"PR is ready for review. CodeRabbit / Gemini Code Assist will auto-review. A human reviewer makes the final approval.\"\n  }\n}];\n"
      },
      "id": "ffffffff-ffff-4fff-8fff-ffffffffffff",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## PRD / DesignDoc 実装エージェント\n\nForm入力からGeminiでPRD/DesignDocを生成し、Google DriveにGoogle Documentとして保存します。その後GitHub branch/PRを作成し、AWS Bedrock(Claude Sonnet)で動くLambdaが実装パッチを生成してPRブランチへコミットします。最後にPRコメントへ自動実装サマリを投稿します。\n\nOpenAI APIや外部の実装エージェントは呼び出しません。",
        "height": 300,
        "width": 520,
        "color": 4
      },
      "id": "12345678-1234-4234-8234-123456789abc",
      "name": "Workflow Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -1152
      ]
    },
    {
      "parameters": {
        "function": "prd-design-bedrock-implementer",
        "payload": "={{ JSON.stringify({\n  task_title: $('Prepare GitHub Payload').first().json.task_title,\n  target_repository: $('Prepare GitHub Payload').first().json.target_repository,\n  base_branch: $('Prepare GitHub Payload').first().json.base_branch,\n  branch_name: $('Prepare GitHub Payload').first().json.branch_name,\n  prd_markdown: $('Prepare GitHub Payload').first().json.prd_markdown,\n  design_doc_markdown: $('Prepare GitHub Payload').first().json.design_doc_markdown,\n  additional_constraints: $('Prepare GitHub Payload').first().json.additional_constraints || null\n}) }}"
      },
      "id": "f1f1f1f1-f1f1-4f1f-8f1f-f1f1f1f1f1f1",
      "name": "Invoke Bedrock Implementer",
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        1824,
        -240
      ],
      "credentials": {
        "aws": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your aws credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet payload = $json;\nif (payload && typeof payload === \"object\" && payload.result && typeof payload.result === \"object\") {\n  payload = payload.result;\n}\nif (typeof payload === \"string\") {\n  try { payload = JSON.parse(payload); } catch (_) {}\n}\nif (!payload || typeof payload !== \"object\") {\n  throw new Error(\"Lambda payload is not an object: \" + JSON.stringify($json).slice(0, 300));\n}\nif (payload.errorMessage) {\n  throw new Error(\"Lambda error: \" + payload.errorMessage);\n}\nif (!payload.summary_markdown || !Array.isArray(payload.files_changed)) {\n  throw new Error(\"Lambda payload missing fields: \" + JSON.stringify(payload).slice(0, 500));\n}\nreturn [{ json: payload }];\n"
      },
      "id": "f2f2f2f2-f2f2-4f2f-8f2f-f2f2f2f2f2f2",
      "name": "Parse Bedrock Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.github.com/repos/${$('Prepare GitHub Payload').first().json.owner}/${$('Prepare GitHub Payload').first().json.repo}/issues/${$('Create GitHub PR').first().json.number}/comments` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: '## Bedrock 自動実装サマリ\\n\\n' + $json.summary_markdown + '\\n\\n---\\n\\n**変更ファイル:**\\n' + $json.files_changed.map(f => '- `' + f.path + '` (' + (f.operation || (f.error ? 'error' : 'skipped')) + ')' + (f.error ? ' — ' + f.error : '')).join('\\n') + '\\n\\n_Generated by model: _ `' + $json.model_id + '`' }) }}",
        "options": {}
      },
      "id": "f3f3f3f3-f3f3-4f3f-8f3f-f3f3f3f3f3f3",
      "name": "Post Implementation Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2272,
        -240
      ],
      "credentials": {
        "githubApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your githubApi credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $json;\nconst boundary = \"n8n-html-\" + Date.now() + \"-\" + Math.random().toString(36).slice(2);\nconst metadata = JSON.stringify({\n  name: base.prd_doc_title,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [\"REPLACE_WITH_YOUR_DRIVE_FOLDER_ID\"]\n});\nconst html = \"<!DOCTYPE html><html><head><meta charset=\\\"UTF-8\\\"></head><body>\" + (base.prd_html || \"\") + \"</body></html>\";\nconst body = [\n  \"--\" + boundary,\n  \"Content-Type: application/json; charset=UTF-8\",\n  \"\",\n  metadata,\n  \"--\" + boundary,\n  \"Content-Type: text/html; charset=UTF-8\",\n  \"\",\n  html,\n  \"--\" + boundary + \"--\",\n  \"\"\n].join(\"\\r\\n\");\nreturn [{ json: { ...base, prd_multipart_body: body, prd_multipart_boundary: boundary } }];\n"
      },
      "id": "a1a1a1a1-a1a1-4a1a-8a1a-a1a1a1a1a1a1",
      "name": "Build PRD Upload Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=multipart/related; boundary={{ $json.prd_multipart_boundary }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=multipart/related; boundary={{ $json.prd_multipart_boundary }}",
        "body": "={{ $json.prd_multipart_body }}",
        "options": {}
      },
      "id": "a2a2a2a2-a2a2-4a2a-8a2a-a2a2a2a2a2a2",
      "name": "Upload PRD as HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        -992
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your googleDriveOAuth2Api credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $json;\nconst boundary = \"n8n-html-\" + Date.now() + \"-\" + Math.random().toString(36).slice(2);\nconst metadata = JSON.stringify({\n  name: base.design_doc_title,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [\"REPLACE_WITH_YOUR_DRIVE_FOLDER_ID\"]\n});\nconst html = \"<!DOCTYPE html><html><head><meta charset=\\\"UTF-8\\\"></head><body>\" + (base.design_doc_html || \"\") + \"</body></html>\";\nconst body = [\n  \"--\" + boundary,\n  \"Content-Type: application/json; charset=UTF-8\",\n  \"\",\n  metadata,\n  \"--\" + boundary,\n  \"Content-Type: text/html; charset=UTF-8\",\n  \"\",\n  html,\n  \"--\" + boundary + \"--\",\n  \"\"\n].join(\"\\r\\n\");\nreturn [{ json: { ...base, designdoc_multipart_body: body, designdoc_multipart_boundary: boundary } }];\n"
      },
      "id": "b1b1b1b1-b1b1-4b1b-8b1b-b1b1b1b1b1b1",
      "name": "Build DesignDoc Upload Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=multipart/related; boundary={{ $json.designdoc_multipart_boundary }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=multipart/related; boundary={{ $json.designdoc_multipart_boundary }}",
        "body": "={{ $json.designdoc_multipart_body }}",
        "options": {}
      },
      "id": "b2b2b2b2-b2b2-4b2b-8b2b-b2b2b2b2b2b2",
      "name": "Upload DesignDoc as HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        -640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "Replace with your googleDriveOAuth2Api credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.prd_markdown }}",
        "destinationKey": "prd_html",
        "options": {}
      },
      "id": "c1c1c1c1-c1c1-4c1c-8c1c-c1c1c1c1c1c1",
      "name": "Convert PRD Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1152,
        -992
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.design_doc_markdown + '\\n\\n---\\n\\nPRD Google Doc: ' + ($json.prd_doc_url || '') }}",
        "destinationKey": "design_doc_html",
        "options": {}
      },
      "id": "c2c2c2c2-c2c2-4c2c-8c2c-c2c2c2c2c2c2",
      "name": "Convert DesignDoc Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1152,
        -640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const expected = $env.PRD_AGENT_FORM_SECRET || \"\";\nif (!expected) {\n  throw new Error(\"Server misconfiguration: PRD_AGENT_FORM_SECRET is not set on the n8n container.\");\n}\n\nconst items = $input.all();\nfor (const item of items) {\n  const provided = item.json[\"Shared Secret\"] || item.json.shared_secret || \"\";\n  if (provided.length !== expected.length) {\n    throw new Error(\"Unauthorized: invalid shared secret\");\n  }\n  let diff = 0;\n  for (let i = 0; i < expected.length; i++) {\n    diff |= provided.charCodeAt(i) ^ expected.charCodeAt(i);\n  }\n  if (diff !== 0) {\n    throw new Error(\"Unauthorized: invalid shared secret\");\n  }\n  delete item.json[\"Shared Secret\"];\n  delete item.json.shared_secret;\n}\nreturn items;"
      },
      "name": "Verify Shared Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -1192
      ],
      "id": "d3340f6e-dbe1-4d6c-8f05-225d933394d2"
    }
  ],
  "connections": {
    "Implementation Request Form": {
      "main": [
        [
          {
            "node": "Verify Shared Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Generate PRD and DesignDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PRD and DesignDoc": {
      "main": [
        [
          {
            "node": "Parse Gemini Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Output": {
      "main": [
        [
          {
            "node": "Convert PRD Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach PRD Doc URL": {
      "main": [
        [
          {
            "node": "Convert DesignDoc Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach DesignDoc URL": {
      "main": [
        [
          {
            "node": "Get Base Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base Branch Ref": {
      "main": [
        [
          {
            "node": "Prepare GitHub Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Payload": {
      "main": [
        [
          {
            "node": "Create GitHub Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Branch": {
      "main": [
        [
          {
            "node": "Commit DesignDoc Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit DesignDoc Markdown": {
      "main": [
        [
          {
            "node": "Create GitHub PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub PR": {
      "main": [
        [
          {
            "node": "Invoke Bedrock Implementer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Bedrock Implementer": {
      "main": [
        [
          {
            "node": "Parse Bedrock Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bedrock Result": {
      "main": [
        [
          {
            "node": "Post Implementation Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Implementation Summary": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PRD Upload Body": {
      "main": [
        [
          {
            "node": "Upload PRD as HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DesignDoc Upload Body": {
      "main": [
        [
          {
            "node": "Upload DesignDoc as HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PRD Markdown to HTML": {
      "main": [
        [
          {
            "node": "Build PRD Upload Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PRD as HTML": {
      "main": [
        [
          {
            "node": "Attach PRD Doc URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DesignDoc Markdown to HTML": {
      "main": [
        [
          {
            "node": "Build DesignDoc Upload Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload DesignDoc as HTML": {
      "main": [
        [
          {
            "node": "Attach DesignDoc URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Shared Secret": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "description": "Creates PRD/DesignDoc with Gemini, stores Google Docs, opens a GitHub PR, and delegates implementation to an AWS Bedrock (Claude Sonnet) Lambda implementer."
  },
  "pinData": {},
  "versionId": "__REPLACE_WITH_YOUR_VERSION_ID__",
  "activeVersionId": "__REPLACE_WITH_YOUR_VERSION_ID__",
  "tags": [],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
